@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

hr {
    color: #d6dfde;
}

.footer {
    background-image: linear-gradient(to top, #d6dfde 98%, #d6dfde 2%, transparent);
    padding: 20px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #3e6765;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #3e6765;
    text-decoration: none;
    font-weight: 300;
    color: #3e6765;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #2c514f;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #f0f7f6;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #3e6765;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #2c514f;
    height: 45px;
    width: 45px;
    line-height: 45px;
    background-color: #f0f7f6;
    text-align: center;
    transition: all 0.5s ease;
}

.copyright {
    text-align: center;
    margin-top: 15px;

}

.copyright h4 {
    font-size: 18px;
    color: #3e6765;
    text-transform: capitalize;
    font-weight: 500;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}