nav {
    background-image: linear-gradient(#d6dfde 90%, #d6dfde 10%, transparent);
    color: #3e6765;
    display: flex;
    align-items: center;
    padding: 10px;
    /* background-color: #f4f4f4; */
    /* Center items vertically in the flex container */
}

nav img {
    max-height: 75px;
    margin-right: 24px;
    width: 107px;
    margin-left: 24px;
    margin-bottom: 5px
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #3e6765;
    padding: 10px;
    display: block;
    /* background-color: #d6dfde; */
}

nav ul li:hover {
    color: #e11b1b;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #d6dfde;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

nav ul li:hover>ul {
    display: inherit;
}

nav ul ul li {
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 200px;
}